<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<wicket:panel>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div style="width: 300px; margin: 0 auto;text-align: center">
            <span style="vertical-align: middle;color: #8c8c8c">Powered by Kunas</span><br/>
            <span style="vertical-align: middle;color: #8c8c8c">Version 1.0</span>
        </div>
    </nav>

</wicket:panel>
</body>
</html>
html>