<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div style="height: 100%">

    <div id="header" wicket:id="headerPanel">
    </div>
    <div id="body"
         style="width: 100%;min-height: 300px; clear: both;overflow-y: scroll;padding-left:30px;padding-right:30px">
        <wicket:child/>
    </div>
    <br/>
    <br/>

    <div id="footer" wicket:id="footerPanel">
    </div>

</div>
</body>
</html>
