<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div style="height: 100%">

    <div id="header"
         style="height: 120px;clear: both;width: 100%; border-bottom:  solid 1px #cccccc;clear: both"
         wicket:id="headerPanel">
    </div>
    <div id="body" style="width: 100%;min-height: 300px; clear: both;overflow-y: scroll;padding-left:30px;padding-right:30px">
        <wicket:child/>
    </div>
    <div id="footer"
         style="height: 150px;border-top:  solid 1px #cccccc; clear: both;width: 100%;clear: both"
         wicket:id="footerPanel">footer
    </div>
</div>
</body>
</html>
