<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap2.min.css">
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="loginstyle.css"/>
</head>
<body>
<div style="height: 100%">
    <div id="body">
        <wicket:child/>
    </div>
</div>
</body>
</html>
